#tic-tac-toe {
	width: auto;
	border: 1px black solid;
	margin: 0 auto;
}

#tic-tac-toe td {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	font-size: 50px;
	text-align: center;
}

html, body {
	height: 100%;
	width: 100%;
}

.section-outer {
	display: table;
	height: 100%;
	width: 100%;
}

.section-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.red {
	background-color: #E57373;
}